* {
    box-sizing: border-box;
  }
  
  :root {
    --background-size: 100vw;
    --background-size: unquote('min(100vw, 40em)');
  }
  
  html {
    font-size: calc(100% + 0.5vw);
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition-duration: 0.001s !important;
    }
  }
  
  .container {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("../resources/벚꽃배경2.png"),
      linear-gradient(80deg, #202, #006);
    background-position: 50% 50%;
    animation: background-move 10s linear infinite;
    background-size: 100vw auto, 100% 100%;
    background-size: unquote('max(100vw, 30em)') auto, 100% 100%;
    min-height: 50vh; 
    min-width: 100vh;

  }
  
  @keyframes background-move {
    0% { background-position: 0 0, 0 0; }
    100% { 
      background-position: 100vw 0, 0 0;
      background-position: unquote('max(100vw, 40em)')  0, 0 0;
    }
  }
  
  .input-group {
    width: 100%;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    z-index: 2;
  
    @supports (mix-blend-mode: darken) {
      position: relative;
      mix-blend-mode: lighten;
  
      &__label {
        position: absolute;
        left: 3em;
        top: -0.28em;
        background: #000;
      }
    }
  
    &__label {
      padding: 0 0.5em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      font-size: 0.875em;
      letter-spacing: 0.1em;
      color: #ccd;
      color: rgba(255, 220, 255, 0.6);
      cursor: pointer;
    }
  
    &__input {
      color: #fff;
      font-size: 1.25rem;
      line-height: 1;
      border-style: none;
      outline: none;
      height: calc(1em + 1.6em + 0.5em);
      width: 100%;
      padding: 0.8em 1em;
      border: 0.25em solid transparent;
      background-image: linear-gradient(#000, #000),
        linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      border-radius: 1.8em;
      background-size: 200% 100%;
      transition: background-position 0.8s ease-out;
      
      &:hover {
        background-position: 100% 0;
      }
  
      &:focus {
        outline: 2px dashed #ad2b89;
        outline-offset: 0.5em;
      }
    }
  }
  
  
  